.ingredient {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  max-width: 272px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in-out;
}

.ingredient__container {
  display: flex;
  align-items: center;
}

.ingredient__image {
  width: 240px;
  height: 120px;
}

.ingredient:hover {
  opacity: 0.7;
}