.mainPage {
    display: flex;
    flex-direction: column;
}

.mainPage__title {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
}

.mainPage__content {
    width: 1240px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
}