@keyframes breathe {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.02);
    }
  }

.header {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--background);
    max-height: 88px;
    display: flex;
    justify-content: center;
}

.nav {
    max-width: 1280px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.header__column {
    flex: 1;
}

.link__wrap {
    display: flex;
}

.link {
    color: #8585ad;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.link_active {
    color: #fff
}

.logo {
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.header__column_right {
    display: flex;
    justify-content: flex-end;
}

.link:hover {
    color: #fff;
    text-shadow:
    0 0 15px rgb(255,255,255),
    0 0 5px rgba(180, 0, 255, 0.5);
}

.logo:hover {
    animation: breathe 0.3s infinite alternate ease-in-out;
}
