.header {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--background);
    max-height: 88px;
    display: flex;
    justify-content: center;
}

.nav {
    max-width: 1280px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.header__column {
    flex: 1;
}

.link__wrap {
    display: flex;
}

.link {
    color: var(--text-inactive-color);
    display: flex;
    align-items: center;
    text-decoration: none;
}

.link_active {
    color: var(--text-primary-color);
}

.logo {
    display: flex;
    justify-content: center;
}

.header__column_right {
    display: flex;
    justify-content: flex-end;
}